@import "../styles/variables";

.IdeaPage {
	.title {
		margin-top: 10px;
	}

	.description {
		margin-top: 10px;
	}

	.created-area {
		margin-top: 10px;
		text-align: right;
		color: @cl-grey;

		.anch {
			font-weight: normal;
			color: @cl-grey;
		}
	}

	.actions {
		margin-top: 10px;

		.option {
			width: 30%;

			&.active {
				opacity: 0.5;
			}
		}
	}

	.revote {
		text-align: center;
		display: block;
		height: 15px;
		margin-top: -15px;
		font-weight: normal;
	}

	.stats {
		margin: 10px 0;

		.stat-box {
			width: 100px;
			height: 100px;
			text-align: center;
			padding: 15px 8px;
			border-radius: 4px;
			border: @grey-border;
			background-repeat: no-repeat no-repeat;
			background-size: 36px;
			background-position: 8px 21px;

			&.plus {
				background-image: url('../../static/icons/baseline-thumb_up-24px.svg');
			}

			&.neutral {
				background-image: url('../../static/icons/baseline-thumbs_up_down-24px.svg');
			}

			&.minus {
				background-image: url('../../static/icons/baseline-thumb_down-24px.svg');
			}

			&.active {
				background-color: #f0f2f5;
			}

			.count {
				font-size: 36px;
				text-align: right;
				color: #222;
			}

			.label {
				margin-top: 10px;
			}
		}
	}

	.vr.main {
		margin: 0 10px;
	}

	.half-area {
		flex: 1;
		border-radius: 4px;
		margin-top: 10px;

		.area-title {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			position: relative;

			.count {
				margin-top: 2px;
				margin-left: 20px;
			}

			.add-btn {
				position: absolute;
				top: 0px;
				right: 0px;
				padding: 3px 14px;
				font-size: 10px;
				opacity: 0;
				transition: opacity 0.5s 0.5s;
			}
			&:hover .add-btn {
				opacity: 1;
				transition: opacity 0.2s 0.1s;
			}
		}

		.anch {
			display: block;
		}
	}

	// .comments-area {
	// 	.h1 {
	// 		margin: 20px 0 10px;
	// 	}

	// 	.anch {
	// 		display: block;
	// 	}
	// }
}
