@import "../styles/variables";

.IdeaPage {
	.content {
		padding: 40px 0;
	}

	.vr.main {
		margin: 0 10px;
	}

	.full-area,
	.half-area {
		flex: 1;
		border-radius: 4px;
		margin-top: 10px;

		.area-title {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			position: relative;

			.count {
				margin-top: 2px;
				margin-left: 20px;
			}

			.add-btn {
				position: absolute;
				top: 0px;
				right: 0px;
				padding: 3px 14px;
				font-size: 10px;
				opacity: 0;
				transition: @transition-opacity-hide;
			}
			&:hover .add-btn {
				opacity: 1;
				transition: @transition-opacity-show;
			}
		}

		.anch {
			display: block;
		}

		.add-item-compact {
			margin-top: 15px;
		}
	}

	@media (max-width: 400px) {
		.for-half {
			display: block;
		}

		.vr.main {
			display: none;
		}
	}
}
