
@import "./variables";

body {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    line-height: 1.154;
    color: #000;
    background: @cl-white;
    font-size: 13px;
}

#app {
    overflow-x: auto;
    overflow-y: initial;
}

button {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

button {
    padding: 8px 16px;
    font-size: 12.5px;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5181b8;
    color: #fff;
    border: 0;
    border-radius: 4px;

    &:hover {
        background-color: #5b88bd;
        text-decoration: none;
    }
}

.VkPage {
    margin: 15px @page-margin;
}

.row {
    display: flex;
    justify-content: space-between;
}

.anch,
a.anch {
    display: inline;
    color: @cl-blue;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.hint,
a.hint {
    color: @cl-grey;
    font-weight: normal;
}

.hr {
    background-color: @cl-light-grey;
    height: 1px;

	&.wide {
		margin: 0 -@page-margin;
	}
}

.vr {
    background-color: @cl-light-grey;
    width: 1px;
}

.header {
    height: 28px;
    margin: 0 -@page-margin;
    padding: 0 @page-margin;
    border-bottom: 1px solid @cl-light-grey;
}

.h1 {
	font-size: 24px;
	font-weight: 500;
}

.h2 {
	font-size: 18px;
	font-weight: 700;
}
