
@import "./variables";

body {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    line-height: 1.154;
    color: #000;
    background: @cl-white;
    font-size: 13px;
}

button {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

button {
    padding: 8px 16px;
    font-size: 12.5px;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5181b8;
    color: #fff;
    border: 0;
    border-radius: 4px;

    &:hover {
        background-color: #5b88bd;
        text-decoration: none;
    }
}

.VkPage {
    margin: 15px @page-margin;
}

.row {
    display: flex;
    justify-content: space-between;
}

.anch,
a.anch {
    display: inline;
    color: @cl-blue;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.hint {
    color: @cl-grey;
}

.crumb {
    color: #656565;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 54px;
    height: 54px;
    font-size: 16px;
}

.h1 {
	font-size: 24px;
	font-weight: 500;
}
